<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146782433-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-146782433-1');
			</script>
			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="https://rajatsaxena.github.io/gallery/" target="_blank" >Gallery</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rajatsxn94@gmail.com">email</a></li>
				<li><a href="https://sites.uci.edu/mcnaughtonlab/people/graduate-students/rajat-saxena/">research</a></li>
	        		<li><a href="https://github.com/rajatsaxena">github</a></li>
				<li><a href="https://scholar.google.com/citations?user=JEdbKhMAAAAJ&hl=en">google scholar </a> </li>
				<li><a href="https://twitter.com/rajatsaxena99">twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
